In [1]:
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
import math
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [13]:
df.drop(['No'],axis='columns', inplace=True)
df.drop(['X1 transaction date'], axis='columns' ,inplace=True)

In [11]:
def load():
	'''
	load the dataset
	return df
	'''
	df = pd.read_csv('data/realestate.csv')
	#SOLUTION START( ~ 1 line of code)
	

	#SOLUTION END
	return df
df = load()
print(df.head())

   No  X1 transaction date  X2 house age  \
0   1             2012.917          32.0
1   2             2012.917          19.5
2   3             2013.583          13.3
3   4             2013.500          13.3
4   5             2012.833           5.0

   X3 distance to the nearest MRT station  X4 number of convenience stores  \
0                                84.87882                               10
1                               306.59470                                9
2                               561.98450                                5
3                               561.98450                                5
4                               390.56840                                5

   X5 latitude  X6 longitude  Y house price of unit area
0     24.98298     121.54024                        37.9
1     24.98034     121.53951                        42.2
2     24.98746     121.54391                        47.3
3     24.98746     121.54391                        54.8
4     24.97937     121.54245                        43.1

In [15]:
def getShape():
	'''
	return the shape of dataframe
	'''
	#SOLUTION START( ~ 1 line of code)
	
	return df.shape
	#SOLUTION END

print(getShape())

(414, 6)

In [19]:
def getInfo():
	'''
	return the information of information about a DataFrame
	including the index dtype and columns, non-null values and memory usage.
	'''
	#SOLUTION START( ~ 1 line of code)
	
	return df.info()
	#SOLUTION END

print(getInfo())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 6 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   X2 house age                            414 non-null    float64
 1   X3 distance to the nearest MRT station  414 non-null    float64
 2   X4 number of convenience stores         414 non-null    int64
 3   X5 latitude                             414 non-null    float64
 4   X6 longitude                            414 non-null    float64
 5   Y house price of unit area              414 non-null    float64
dtypes: float64(5), int64(1)
memory usage: 19.5 KB
None

In [21]:
# Question4
def checkNull():
	'''
	this function check if any null value
	expected output:
	No                                        0
	X1 transaction date                       0
	X2 house age                              0
	X3 distance to the nearest MRT station    0
	X4 number of convenience stores           0
	X5 latitude                               0
	X6 longitude                              0
	Y house price of unit area                0
	dtype: int64
	'''

	#SOLUTION START( ~ 1 line of code)
	return df.isnull().sum()

	#SOLUTION END


print(checkNull())

X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [23]:
#Question5
def getStatistic():
	'''
	return the statistic of Dataframe such as count, mean, std, min, max, etc
	'''

	#SOLUTION START( ~ 1 line of code)
	return df.describe()
	#SOLUTION END

print(getStatistic())

       X2 house age  X3 distance to the nearest MRT station  \
count    414.000000                              414.000000
mean      17.712560                             1083.885689
std       11.392485                             1262.109595
min        0.000000                               23.382840
25%        9.025000                              289.324800
50%       16.100000                              492.231300
75%       28.150000                             1454.279000
max       43.800000                             6488.021000

       X4 number of convenience stores  X5 latitude  X6 longitude  \
count                       414.000000   414.000000    414.000000
mean                          4.094203    24.969030    121.533361
std                           2.945562     0.012410      0.015347
min                           0.000000    24.932070    121.473530
25%                           1.000000    24.963000    121.528085
50%                           4.000000    24.971100    121.538630
75%                           6.000000    24.977455    121.543305
max                          10.000000    25.014590    121.566270

       Y house price of unit area
count                  414.000000
mean                    37.980193
std                     13.606488
min                      7.600000
25%                     27.700000
50%                     38.450000
75%                     46.600000
max                    117.500000

In [109]:
df_y = df[['Y house price of unit area']]
df_X = df.drop(['Y house price of unit area'],axis='columns')

print(df_y.head())
print(df_X.head())

   Y house price of unit area
0                        37.9
1                        42.2
2                        47.3
3                        54.8
4                        43.1
   X2 house age  X3 distance to the nearest MRT station  \
0          32.0                                84.87882
1          19.5                               306.59470
2          13.3                               561.98450
3          13.3                               561.98450
4           5.0                               390.56840

   X4 number of convenience stores  X5 latitude  X6 longitude
0                               10     24.98298     121.54024
1                                9     24.98034     121.53951
2                                5     24.98746     121.54391
3                                5     24.98746     121.54391
4                                5     24.97937     121.54245

In [119]:
def split():
    '''
    IMPORTANT: this function will return four values X_train, X_test, y_train, y_test
    '''
    global df_X, df_y
    
    # Prepare features and target variable
    X = df_X
    y = df_y.values.ravel()  # Flatten to 1D array
    
    # Split the data into 80% training and 20% testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Reset indices of the resulting DataFrames
    X_train = X_train.reset_index(drop=True)
    X_test = X_test.reset_index(drop=True)
    y_train = pd.DataFrame(y_train, columns=['Y house price of unit area']).reset_index(drop=True)  # Convert to DataFrame
    y_test = pd.DataFrame(y_test, columns=['Y house price of unit area']).reset_index(drop=True)    # Convert to DataFrame
    
    return X_train, X_test, y_train, y_test
    # SOLUTION END

X_train, X_test, y_train, y_test = split()

   X2 house age  X3 distance to the nearest MRT station  \
0          43.8                                57.58945
1           8.0                              2216.61200
2           7.1                              2175.03000
3          36.6                               488.81930
4           7.5                               639.61980

   X4 number of convenience stores  X5 latitude  X6 longitude
0                                7     24.96750     121.54069
1                                4     24.96007     121.51361
2                                3     24.96305     121.51254
3                                8     24.97015     121.54494
4                                5     24.97258     121.54814